{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}

    {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a>
    {% endif %}

    <!--Test Notification --> 
    <div class="container py-5">
        <h1>Test Notification</h1>
        <form method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="btn btn-primary" type="submit">Send</button>
        </form>
    </div>

{% endblock %}

{% block js %}
    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
