{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}

<div class="row">
  <div class="col-lg-3 col-md-2"></div>
  <div class="col-lg-6 col-md-8 col-sm-12">
    <!--Login--> 
    <div class="py-5">
      <h1>Login</h1>
      <form method="POST">
        {% csrf_token %}
        {{ login_form|crispy }}
        <button class="btn btn-primary" type="submit">Login</button>
      </form>
      <p class="text-center">Don't have an account? <a href="{% url 'register' %}">Create an account</a>.</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-2"></div>
</div>

{% endblock %}